<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>
<body>
  <div id="background">
    <div id="page">
      <div id="header">
        <div id="logo">
          <a href="/"><img src="/images/logo.png" alt="LOGO" height="100" width="200"></a>
        </div>
        {{> top_nav activeAdmin=true}}
      </div>
      <div id="contents">
        <div class="box">
          <div class="body">
            <h1>{{title}}</h1>
            <form action="{{action}}" method="post">
              <table>
                <tr><td>Name:</td><td><input type="text" name="name" value="{{room.name}}" required></td></tr>
                <tr><td>Image URL:</td><td><input type="text" name="image" value="{{room.image}}"></td></tr>
                <tr><td>Description:</td><td><textarea name="description">{{room.description}}</textarea></td></tr>
                <tr><td>Rate:</td><td><input type="text" name="rate" value="{{room.rate}}" placeholder="Rate: 220 / Day"></td></tr>
                <tr><td colspan="2"><button type="submit">{{submitLabel}}</button></td></tr>
              </table>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
